<!DOCTYPE html>
<html>
<head>
    <title>requef</title>
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.jpg') }}" type="image/x-icon"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #292727;
            color: #efe8e8;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin-top: 20%;">
        <h1>404: page not found</h1>
        <p>{{comment}}</p>
    </div>
</body>
</html>